@{
    ViewBag.Title = "Home Page";
}

<div  class="jumbotron" style="margin:20px; background-image: url(http://www.sleepandgo.es/wp-content/uploads/2016/10/restaurant-014-1024x790.jpg) " >
    <h1 style="color:white">RESTAURANTES DOÑA TERE</h1>
    <p class="lead" style="color:white">    Bienvenidos a restaurantes doña Tere, la franquicia de comida gourmet por excelencia. Te invitamos a registrarte y conocer mas sobre nuestro modelo de negocio.</p>
    
</div>
<div>
</div>
<div class="row">
    <div class="col-md-4">

        <p>
            <h2>Cuáles son los alimentos gourmet.</h2>
            Los alimentos gourmet son aquellas preparaciones que han sido elaborados
            con ingredientes exquisitamente seleccionados, con exhaustivos cuidados de
            higiene y de las propiedades organolépticas; además han sido elaborados por personas
            que, después de muchos años de experiencia y una clara pasión por la alta cocina, están
            preparados para ofrecer un producto que pueda ser consumido por alguien que realmente
            aprecie su calidad y delicadeza.
        </p>
        <div style="width:80%;height:180px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlnReYvD_9JzxR5klaCRQM3XcUwJJm2120dg&usqp=CAU) ">

        </div>

    </div>
    
    <div class="col-md-4">

        <h2>Internacional</h2>
        <div style="width:auto;height:180px; background-image: url(https://ingenieriademenu.com/wp-content/uploads/2021/01/Top-10-tipos-de-cocina-internacional-mas-populares-del-mundo.jpg)">

        </div>
        <p>En el norte de este país preparan de una manera riquísima el bacalao. Este plato consiste en bacalao cocinado al horno
        con papas, cebolla, dientes de ajo, huevo, aceite y pimienta blanca molida. Este plato tradicional lleva el nombre “Gomes
        de Sá” debido a que su creador fue José Luiz Gomes de Sá Júnior, hijo de un comerciante de Oporto, antiguo cocinero del
        Restaurante O Lisbonense de Oporto, en el que creó por primera vez la receta..</p>
       
    </div>
    <div class="col-md-4">
        <h2>Comida Asiatica</h2>
        <p>
            Platos asiáticos populares
            Un mundo de gastronomía asiática ha abierto nuestra conciencia culinaria en 
            las últimas décadas. El cerdo agridulce y el pollo teriyaki son platos del pasado.
            A continuación, doce platos nacionales del otro lado del Pacífico, populares en la actualidad..
        </p>
        <div style="width: 100%; height: 180px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPejaV_nQLzPH-N_Us98g62oUYkgCJklMhxA&usqp=CAU) "></div>
        
    </div>
    <div style="margin:20px; width: 100%; height: 800px;float:left; background-image: url(https://www.lacasona-restaurante.com/wp-content/uploads/2019/02/MIRADOR-CASONA-1.jpg) "></div>
    <div style="float:left;"> <p>
    La Guía Michelin, la guía internacional de clasificación de restaurantes más conocida del mundo,
        anunciará el 9 de junio qué restaurantes de la Florida serán designados con una, dos o unas
        tres estrellas. Mientras tanto, voy a adivinar qué restaurantes de Miami nombrará Michelin,
        teniendo en cuenta sus selecciones anteriores. El motivo de esto tiene que ver con la publicidad. 
        La Florida, un destino turístico nacional e internacional, será ahora mencionada al mismo tiempo que
        Nueva York, California, Chicago y Washington DC como los únicos otros lugares de Estados Unidos que 
        serán destacados por la Guía Michelin, que comenzó como un sistema de clasificación de restaurantes europeos. 
        Su objetivo es decir a los comensales del extranjero que estos restaurantes han sido juzgados por un conjunto 
        estandarizado de directrices.

</p>  </div>
</div>